export STY=321.blockscout
export SUBNETWORK=KEK
export LANG=en_US.UTF-8
export CHAINID=420666
export OLDPWD=/root/kek-explorer/blockscout/apps/block_scout_web/assets
export LOGO_HEADER=/images/kek.svg
export CHAIN_ID=420666
export ETHEREUM_JSONRPC_TRANSPORT=ipc
export LOGO=/images/kekchain.svg
export IPC_PATH=/geth.ipc
export MIX_ENV=prod
export ENABLE_POS_STAKING_IN_MENU=false
export chainId=420666
export ETHEREUM_JSONRPC_HTTP_URL=http://127.0.0.1:8551
export BLOCK_TRANSFORMER=clique
export SUPPORTED_CHAINS=[]
export PWD=/root/kek-explorer/blockscout
export DATABASE_URL=postgresql://postgres:password@167.86.80.61:5432/database
export DISABLE_EXCHANGE_RATES=true
export PORT=4000
export OTHER_EXPLORERS=false
export COIN=KEK
export ETHEREUM_JSONRPC_WS_URL=ws://localhost:8552
export SHOW_PRICE_CHART=true
export ETHEREUM_JSONRPC_VARIANT=geth
export DISABLE_BRIDGE_MARKET_CAP_UPDATER=true
export LINK_TO_OTHER_EXPLORERS=false
export ENABLE_SOURCIFY_INTEGRATION=true
export DIAGNOSTIC=false
export ETHEREUM_JSONRPC_TRACE_URL=http://127.0.0.1:8551
export chain_id=420666
export SECRET_KEY_BASE=12345678901234567/12345123451234512345123451234512345123451234
